services:
  db:
    container_name: db
    image: postgres:15
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    volumes:
      - db:/data/postgres
    ports:
      - "5432:5432"
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -d postgres" ]
      interval: 30s
      timeout: 10s
      retries: 5

  app:
    container_name: app
    build: .
    environment:
      DATABASE_URL: postgresql+asyncpg://postgres:postgres@db/postgres
    volumes:
      - db:/data/postgres
    ports:
      - "8000:8000"

volumes:
  db: