apiVersion: v1
kind: Secret
metadata:
  name: {{ .Release.Name }}-postgres-secret
  labels:
    {{- include "postgres.labels" . | nindent 4 }}
type: Opaque
data:
  POSTGRES_USER: {{ .Values.auth.username | b64enc | quote }}
  POSTGRES_PASSWORD: {{ .Values.auth.password | b64enc | quote }}
